<input type="checkbox" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>

<header>
    <div id="brand">{{ title }}</div>
</header>

<nav class="menu">
    <login></login>
</nav>
<div id="captioned-gallery">
    <figure class="slider">
        <figure>
            <img src="../images/arts/art_1.jpg" alt="ART">
            <figcaption>Hobbiton, New Zealand</figcaption>
        </figure>
        <figure>
            <img src="../images/wines/wine_1.jpg" alt="WINE">
            <figcaption>Wanaka, New Zealand</figcaption>
        </figure>
        <figure>
            <img src="../images/watches/watch_1.jpeg" alt="WATCH">
            <figcaption>Utah, United States</figcaption>
        </figure>
        <figure>
            <img src="../images/literature/l_1.jpg" alt="LITERATURE">
            <figcaption>Bryce Canyon, Utah, United States</figcaption>
        </figure>
        <figure>
            <img src="../images/literature/l_1.jpg" alt="LITERATURE">
            <figcaption>Bryce Canyon, Utah, United States</figcaption>
        </figure>
    </figure>
</div>